@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding: 20px;
}

main {
  margin: 0 auto;
  display: flex;
  max-width: 800px;
  color: #fff;
}

.card {
  font-family: "Lexend Deca";
  padding: 20px 30px 30px 20px;
}

.card-yellow {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card-blue {
  background-color: hsl(184, 100%, 22%);
}
.card-green {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title {
  font-family: "Big Shoulders";
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 35px;
  margin-bottom: 30px;
}

.description {
  font-size: 14px;
  margin-bottom: 60px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 15px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 12px;
}

.btn-yellow {
  color: hsl(31, 77%, 52%);
}

.btn-blue {
  color: hsl(184, 100%, 22%);
}
.btn-green {
  color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
  }
  .card-yellow {
    border-top-left-radius: 5px;
    border-bottom-left-radius: none;
    border-top-right-radius: 5px;
  }
  .card-green {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}