* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #ffffff;
}
.newsletter{
     max-width: 700px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
}
.icon{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.title {
    font-size: 36px;
    margin-bottom: 15px;
}

.texto {
    color: #777;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 500px;
    margin: 0 auto 35px auto;
}

.form-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
   box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
            0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    max-width: 450px;
    margin: auto;
}

.input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
}
.input::placeholder {
    text-align: center;
    font-weight: bold;
    color: #555;
}

.button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #2f4bd1;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background: #243db3;
}

.mensaje {
    display: block;
    margin-top: 12px;
    color: #888;
    font-size: 13px;
}
/* TABLET (1024px hacia abajo) */
@media (max-width: 1024px) {
    .newsletter {
        margin: 60px 20px;
        max-width: 90%;
    }

    .title {
        font-size: 30px;
    }

    .texto {
        font-size: 15px;
        max-width: 90%;
    }

    .form-box {
        max-width: 100%;
    }
}

/* MOBILE (480px hacia abajo) */
@media (max-width: 480px) {
    .newsletter {
        margin: 40px 15px;
        padding: 10px;
    }

    .title {
        font-size: 24px;
    }

    .texto {
        font-size: 14px;
        line-height: 1.4;
    }

    .input, .button {
        font-size: 14px;
        padding: 12px;
    }

    .mensaje {
        font-size: 12px;
    }
}