@import url("fonts.css");
@import url("colors.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#blog-preview{
    background-color: var(--yellow);
    font-family: "Figtree";
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    max-width: 350px;
    border: 2px solid var(--gray-950);
    padding: 20px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 11px 11px 0px 1px rgba(0, 0, 0, 0.99);
}
.header img{
width: 100%;
border-radius: 10px;
}
.header .label {
    display: inline-block ;
    background-color: var(--yellow);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    font-size: 14px;
}
.header .date{
    font-size: 14px;
    margin-top: 15px;
}
.header h3{
    margin: 15px 0;
    font-size: 24px;
}
.body{
    color: var(--gray-500);
    font-size:14px;
    line-height: 1.5;
}
.footer-author{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer-author img{
    width: 25px;
}
.footer-author .author{
    color: var(--gray-950);
    font-weight: bolder;
    font-size: 14px;
}
.container-btn{
width: 100%;
margin-top: 40px;
padding: 20px;
}
.btn-prev, .btn-next{
float: right;
display: inline-block;
background-color: transparent;
color: var(--gray-950);
text-decoration: none;
padding: 12px;
border: 2px solid var(--white);
border-radius: 20px;
font-weight: bolder; 
box-shadow: 11px  11px 0px 1px rgba(0, 0, 0, 0.99);
}
.btn-prev{
    float: left;
}
.btn-next:hover, .btn-prev:hover{
    cursor: pointer;
    background-color: var(--white);
    transition: 0.5s all ease;
    scale: (1.2);
}
#profile-card{
    background-color: var(--blue-600);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Kumb Sans";
}
.container-card{
    min-width: 350px;
    background-color: var(--white);
    border-radius: 15px;
}
.container-card header{
    width: 100%;
    height: 150px;
    background-image: url("../imagesp/bg-pattern-card.svg");
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.container-card .information{
    position: relative;
    padding: 70px 0 20px 0;
    border-bottom: 1px solid var(--gray-500);
}
.container-card .information >img{
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid var(--white);
}
.information .name{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.information .name > span{
    color: var(--gray-500);
    font-weight: normal;
    display: inline-block;
    margin-left: 8px;
}
.information .country{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: var(--gray-500);
}
.followers{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.follow-info > .numbers{
    font-weight: bold;
}
.follow-info > .description{
    font-size: 12px;
    margin-top: 5px;
    color: var(--gray-500);
    letter-spacing: 1.2px;
}
#results-sumary{
    background-color: var(--light-lavender);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Hanken";
}
.container-result{
    display: flex;
    max-width: 600px;
    background-color: var(--white);
    border-radius: 25px;
}
.container-result .result{
    background: linear-gradient
        (to bottom,
        var(--light-slate-blue),
        var(--light-royal-blue)
        );
        flex: 1;
        padding: 35px 40px;
        border-radius: 25px;
        text-align: center;
    };
