@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(0, 100%, 74%);
  background-image: url("../images/bg-intro-desktop.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  max-width: 1200px;
}

.information {
  color: #fff;
  padding: 0 40px;
  flex: 1;
}

.title {
  font-size: 2.8em;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;
}

.form {
  padding: 0 40px;
  flex: 1;
}

.btn {
  display: block;
  background-color: hsl(248, 32%, 49%);
  padding: 15px 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sign-up {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.sign-up input[type="text"],
.sign-up input[type="email"],
.sign-up input[type="password"] {
  display: block;
  width: 100%;
  padding: 15px 45px 15px 15px;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: bold;
  outline: none;
}

.form-container {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.sign-up input[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

footer p {
  font-size: 10px;
  text-align: center;
  color: hsl(249, 10%, 26%);
}

.terms {
  color: hsl(0, 100%, 74%);
  font-weight: bold;
}

.terms:hover {
  cursor: pointer;
}

.error {
  color: hsl(0, 66%, 54%);
  font-size: 12px;
  display: block;
  margin-top: 4px;
  font-style: italic;
  text-align: right;
}
.error-input {
  border: 1px solid hsl(0, 66%, 54%) !important;
}
.error-image {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-100%);
  width: 20px;
  height: 20px;
  display: none;
}

@media screen and (max-width: 500px) {
  body {
    background-image: url("../images/bg-intro-mobile.png");
  }
  main {
    flex-direction: column;
    padding: 50px 10px;
    gap: 60px;
  }
  .title {
    font-size: 2em;
  }
  .text {
    text-align: center;
  }
}